* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* pc */
@media (min-width: 1220px) {
  header {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 10;
  }
  header .menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  header .menu a {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
  }
  header h1 a {
    display: block;
  }
  header img {
    display: block;
    object-fit: cover;
    width: 150px;
  }
  /* visual */
  #visual {
    background: url(../img/visual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .con01 {
    background-color: rgb(255, 253, 218);
    padding: 60px 0px;
    align-items: center;
  }
  .con01 .wrap {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .con01 .dessert {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    text-align: center;
  }
  .con01 .dessert img {
    width: 250px;
  }
  .con01 .new {
    width: 200px;
    padding: 50px 0px;
  }
  .con01 .new p:first-child {
    font-weight: bold;
  }
  .con01 .new p:nth-child(2) {
    margin: 15px 0px;
    font-weight: bold;
  }
  .con01 .new p:last-child {
    border: 1px solid #000;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
  }
  /* con02 */
  .con02 {
    padding: 60px;
  }
  .con02 .coffee {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 30px;
  }
  .con02 .coffee li:first-child {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    width: 65px;
    text-align: center;
  }
  .con02 .coffee_txt {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
  }
  /* con03 */
  .con03 {
    position: relative;
    min-height: 100vh;
  }
  .con03 .brew {
    position: relative;
    min-height: 100vh;
    background: url(../img/main04_back.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
  }

  .con03 .brew img {
    display: block;
    width: 700px;
    height: 600px;
    margin-left: auto;
    margin-right: 250px;
  }
  .con03 .brew > .brew_txt {
    position: absolute;
    top: 25%;
    right: 70%;
  }
  .con03 h2 {
    font-size: 50px;
  }
  .con03 h3 {
    margin-top: 30px;
    font-weight: normal;
  }
  .con03 ul {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 47%;
    right: 71%;
  }
  .con03 ul li {
    background-color: #fff;
    width: 117px;
    text-align: center;
  }
  .con03 ul li a {
    display: block;
    padding: 10px 0px;
  }
  /* con04 */
  .con04 {
    position: relative;
  }
  .con04 .red {
    display: flex;
    gap: 5rem;
    justify-content: center;
  }

  .con04 .membership img {
    background-color: #000;
    display: block;
  }
  .con04 .card img {
    background-color: #000;
    display: block;
  }
  /* txt */
  .con04 .membership_txt {
    position: absolute;
    top: 18%;
    left: 24%;
    color: #fff;
  }
  .con04 .card_txt {
    position: absolute;
    top: 18%;
    right: 35%;
    color: #fff;
  }
}
/* 태블릿 */
@media (min-width: 768px) and (max-width: 1219px) {
}
/* 모바일 */
@media (max-width: 767px) {
}
